<div fxLayout="column" class="chart-sync-wrapper adjust-centering">
  <div fxLayout="row" class="chart-sync-row">
    <div fxLayout="column" class="chart-sync-col">
      <lcu-charts-line-chart-simple
        class="chart-container"
        [animations]="animations"
        [autoScale]="autoScale"
        [backgroundGradientConfigs]="backgroundGradientConfigs"
        [curve]="curve"
        [forceManualXHover]="ManualHover"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [legend]="showLegend"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [rangeFillOpacity]="rangeFillOpacity"
        [results]="weatherDataFormatted"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [roundDomains]="roundDomains"
        [schemeType]="schemeType"
        [scheme]="colorScheme"
        [showGridLines]="showGridLines"
        [showPercentage]="showPercentage"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [timeline]="timeline"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [units]="yUnits"
        [view]="view"
        [xAxisDateFormat]="xAxisDateFormat"
        [xAxisIsDate]="xAxisIsDate"
        [xAxisLabel]="xAxisLabel"
        [xAxis]="showXAxis"
        [xScaleMax]="xScaleMax"
        [xScaleMin]="xScaleMin"
        [yAxisLabel]="yAxisLabel"
        [yAxisTickFormatting]="yAxisTickFormatting"
        [yAxisTicks]="yAxisTicks"
        [yAxis]="showYAxis"
        [yScaleMax]="yScaleMax"
        [yScaleMin]="yScaleMin"
        [view]="view"
        [dims]="dims"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
        (HoveredVerticalChange)="hoveredVerticalChange($event)"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-item">
              {{model.series}}: {{model.value}}{{yUnits}}
          </div>
        </ng-template>
      </lcu-charts-line-chart-simple>
    </div>
    <div fxLayout="column" class="chart-sync-col">
      <lcu-charts-line-chart-simple
        class="chart-container"
        [animations]="animations"
        [autoScale]="autoScale"
        [backgroundGradientConfigs]="backgroundGradientConfigs"
        [curve]="curve"
        [forceManualXHover]="ManualHover"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [legend]="showLegend"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [rangeFillOpacity]="rangeFillOpacity"
        [results]="weatherDataFormatted"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [roundDomains]="roundDomains"
        [schemeType]="schemeType"
        [scheme]="colorScheme"
        [showGridLines]="showGridLines"
        [showPercentage]="showPercentage"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [timeline]="timeline"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [units]="yUnits"
        [view]="view"
        [dims]="dims"

        [xAxisDateFormat]="xAxisDateFormat"
        [xAxisIsDate]="xAxisIsDate"
        [xAxisLabel]="xAxisLabel"
        [xAxis]="showXAxis"
        [xScaleMax]="xScaleMax"
        [xScaleMin]="xScaleMin"
        [yAxisLabel]="yAxisLabel"
        [yAxisTickFormatting]="yAxisTickFormatting"
        [yAxisTicks]="yAxisTicks"
        [yAxis]="showYAxis"
        [yScaleMax]="yScaleMax"
        [yScaleMin]="yScaleMin"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
        (HoveredVerticalChange)="hoveredVerticalChange($event)"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-item">
              {{model.series}}: {{model.value}}{{yUnits}}
          </div>
        </ng-template>
      </lcu-charts-line-chart-simple>
    </div>
  </div>
  <div fxLayout="row" class="chart-sync-row">
    <div fxLayout="column" class="chart-sync-col">
      <lcu-charts-line-chart-simple
        class="chart-container"
        [animations]="animations"
        [autoScale]="autoScale"
        [backgroundGradientConfigs]="backgroundGradientConfigs"
        [curve]="curve"
        [forceManualXHover]="ManualHover"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [legend]="showLegend"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [rangeFillOpacity]="rangeFillOpacity"
        [results]="weatherDataFormatted"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [roundDomains]="roundDomains"
        [schemeType]="schemeType"
        [scheme]="colorScheme"
        [showGridLines]="showGridLines"
        [showPercentage]="showPercentage"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [timeline]="timeline"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [units]="yUnits"
        [view]="view"
        [dims]="dims"

        [xAxisDateFormat]="xAxisDateFormat"
        [xAxisIsDate]="xAxisIsDate"
        [xAxisLabel]="xAxisLabel"
        [xAxis]="showXAxis"
        [xScaleMax]="xScaleMax"
        [xScaleMin]="xScaleMin"
        [yAxisLabel]="yAxisLabel"
        [yAxisTickFormatting]="yAxisTickFormatting"
        [yAxisTicks]="yAxisTicks"
        [yAxis]="showYAxis"
        [yScaleMax]="yScaleMax"
        [yScaleMin]="yScaleMin"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
        (HoveredVerticalChange)="hoveredVerticalChange($event)"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)">
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip-item">
              {{model.series}}: {{model.value}}{{yUnits}}
          </div>
        </ng-template>
      </lcu-charts-line-chart-simple>
    </div>
    <div fxLayout="column" class="chart-sync-col">
      <lcu-charts-line-chart-simple
        class="chart-container"
        [animations]="animations"
        [autoScale]="autoScale"
        [backgroundGradientConfigs]="backgroundGradientConfigs"
        [curve]="curve"
        [forceManualXHover]="ManualHover"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [legend]="showLegend"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [rangeFillOpacity]="rangeFillOpacity"
        [results]="weatherDataFormatted"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [roundDomains]="roundDomains"
        [schemeType]="schemeType"
        [scheme]="colorScheme"
        [showGridLines]="showGridLines"
        [showPercentage]="showPercentage"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [timeline]="timeline"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [units]="yUnits"
        [view]="view"
        [dims]="dims"
        [xAxisDateFormat]="xAxisDateFormat"
        [xAxisIsDate]="xAxisIsDate"
        [xAxisLabel]="xAxisLabel"
        [xAxis]="showXAxis"
        [xScaleMax]="xScaleMax"
        [xScaleMin]="xScaleMin"
        [yAxisLabel]="yAxisLabel"
        [yAxisTickFormatting]="yAxisTickFormatting"
        [yAxisTicks]="yAxisTicks"
        [yAxis]="showYAxis"
        [yScaleMax]="yScaleMax"
        [yScaleMin]="yScaleMin"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
        (HoveredVerticalChange)="hoveredVerticalChange($event)"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)">
        <ng-template #tooltipTemplate let-model="model">
        <div class="tooltip-item">
            {{model.series}}: {{model.value}}{{yUnits}}
        </div>
        </ng-template>
      </lcu-charts-line-chart-simple>
    </div>
  </div>
</div>
