#line-charts-cluster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    div {
        height: 50%;
        width: 50%;
        max-width: calc(100% * (1/2));
    }
}