@import '~@angular/material/theming';

@mixin lcu-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .lcu-header {
    .mat-toolbar {
      justify-content: space-between;

      .toolbar-title {
        display: block;
        margin: 0;

        .title-menu {
          cursor: pointer;
          margin-right: 15px;

          .mat-icon {
            font-size: 32px;
            height: 32px;
            width: 32px;
          }
        }

        .title-text {

          small {
            font-size: 0.5em;
            line-height: 1.3em;

            &.subtitle {
              display: block;
            }
          }
        }
      }
    }
  }

  .lcu-body {
    align-items: center;
    justify-content: center;
    height: 100%;

    .body-sidenav-container {
      background-color: transparent;
      height: 100%;
      width: 100%;

      .mat-sidenav {
        background-color: map-get($accent, 500);
      }
    }

    .body-sidenav-content {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow-x: hidden;
    }
  }

  .lcu-footer {
    .mat-toolbar {
      height: 40px;
      justify-content: space-between;

      small {
        font-size: 0.5em;
        line-height: 1.3em;
      }
    }
  }

  .color-swatch-arctic {
    color: mat-color($fathym-arctic-primary, 500) !important;
  }

  .color-swatch-contrast {
    color: mat-color($fathym-contrast-primary, 500) !important;
  }

  .color-swatch-cool-candy {
    color: mat-color($fathym-cool-candy-primary, 500) !important;
  }

  .color-swatch-flipper {
    color: mat-color($fathym-flipper-primary, 500) !important;
  }

  .color-swatch-ice {
    color: mat-color($fathym-ice-primary, 500) !important;
  }

  .color-swatch-sea-green {
    color: mat-color($fathym-sea-green-primary, 500) !important;
  }

  .color-swatch-white-mint {
    color: mat-color($fathym-white-mint-primary, 500) !important;
  }

  .color-swatch-ivy {
    color: mat-color($fathym-ivy-primary, 500) !important;
  }

  .dark {
    /**
       * Backgrounds
       */
    $color-bg-darkest: #13141b;
    $color-bg-darker: #1b1e27;
    $color-bg-dark: #232837;
    $color-bg-med: #2f3646;
    $color-bg-light: #455066;
    $color-bg-lighter: #5b6882;

    /**
       * Text
       */
    $color-text-dark: #72809b;
    $color-text-med-dark: #919db5;
    $color-text-med: #a0aabe;
    $color-text-med-light: #d9dce1;
    $color-text-light: #f0f1f6;
    $color-text-lighter: #fff;

    background: $color-bg-darker;

    .lcu-charts {
      text {
        fill: $color-text-med;
      }

      .tooltip-anchor {
        fill: rgb(255, 255, 255);
      }

      .gridline-path {
        stroke: $color-bg-med;
      }

      .refline-path {
        stroke: $color-bg-light;
      }

      .reference-area {
        fill: #fff;
      }

      .grid-panel {
        &.odd {
          rect {
            fill: rgba(255, 255, 255, 0.05);
          }
        }
      }

      .number-card {
        p {
          color: $color-text-light;
        }
      }

      .gauge {
        .background-arc {
          path {
            fill: $color-bg-med;
          }
        }

        .gauge-tick {
          path {
            stroke: $color-text-med;
          }
          text {
            fill: $color-text-med;
          }
        }
      }

      .linear-gauge {
        .background-bar {
          path {
            fill: $color-bg-med;
          }
        }

        .units {
          fill: $color-text-dark;
        }
      }

      .timeline {
        .brush-background {
          fill: rgba(255, 255, 255, 0.05);
        }

        .brush {
          .selection {
            fill: rgba(255, 255, 255, 0.1);
            stroke: #aaa;
          }
        }
      }

      .polar-chart .polar-chart-background {
        fill: rgb(30, 34, 46);
      }
    }

    .chart-legend {
      .legend-labels {
        background: rgba(255, 255, 255, 0.05) !important;
      }

      .legend-item {
        &:hover {
          color: #fff;
        }
      }

      .legend-label {
        &:hover {
          color: #fff !important;
        }

        .active {
          .legend-label-text {
            color: #fff !important;
          }
        }
      }

      .scale-legend-label {
        color: $color-text-med;
      }
    }

    .advanced-pie-legend {
      color: $color-text-med;

      .legend-item {
        &:hover {
          color: #fff !important;
        }
      }
    }

    .number-card .number-card-label {
      font-size: 0.8em;
      color: $color-text-med;
    }
  }

}
