<div fxFlex fxLayout="column" class="sidenav-content-form-container">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between start" class="form-title-toggle">
    <div fxFlex fxLayout="row" (click)="ToggleChartForm()">
      <h3>{{ CurrentChart ? CurrentChart.title : 'Chart' }} Options</h3>
      <mat-icon color="primary" matTooltip="Click here to modify the properties of the current Chart">edit</mat-icon>
    </div>

    <button type="button" class="generate-button" mat-stroked-button color="primary" matTooltip="Click here to generate the code for you" (click)="openCodeDialog()">
      Generate Code
    </button>
  </div>
  <div fxFlex fxLayout="row" *ngIf="IsChartFormDisplayed" class="form-content">
    <form fxLayout="column" autocomplete="off" [formGroup]="ChartsForm">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group">
          <h4>Axes</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex>
                <input type="text" formControlName="yAxisLabel" matInput placeholder="Y Axis Label">
                <mat-icon matSuffix matTooltip="yAxisLabel: The text displayed along the y-axis">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex>
                <input type="text" formControlName="xAxisLabel" matInput placeholder="X Axis Label">
                <mat-icon matSuffix matTooltip="xAxisLabel: The text displayed along the x-axis">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="showYAxis">Show Y Axis</mat-checkbox>
              <mat-icon matSuffix matTooltip="yAxis: Toggles the Y-axis on/off">help_outline</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="showXAxis">Show X Axis</mat-checkbox>
              <mat-icon matSuffix matTooltip="xAxis: Toggles the X-axis on/off">help_outline</mat-icon>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="showYAxisLabel">Show Y Axis Label</mat-checkbox>
              <mat-icon matSuffix matTooltip="showYAxisLabel: Toggles the Y-axis label on/off">help_outline</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="showXAxisLabel">Show X Axis Label</mat-checkbox>
              <mat-icon matSuffix matTooltip="showXAxisLabel: Toggles the X-axis label on/off">help_outline</mat-icon>
            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group">
          <h4>Dimensions</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="height" matInput placeholder="Height">
                <mat-icon matSuffix matTooltip="view: [ height, width ] Sets the dimensions of the chart">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="width" matInput placeholder="Width">
                <mat-icon matSuffix matTooltip="view: [ height, width ] Sets the dimensions of the chart">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="autoScale">Auto Scale</mat-checkbox>
              <mat-icon matSuffix matTooltip="autoScale: Toggles the minumum value of Y based on the data (instead of zero)">help_outline</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="fitContainer">Fit Container</mat-checkbox>
              <mat-icon matSuffix matTooltip="view: [ height, width ]: Toggles whether to fit the chart height and width to the parent container. Set view = undefined to fit the chart to the size of it's parent container">help_outline</mat-icon>
            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group">
          <h4>Legend</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex>
                <input type="text" formControlName="legendTitle" matInput placeholder="Legend Title">
                <mat-icon matSuffix matTooltip="legendTitle: The text displayed on the Legend">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="showLegend">Show Legend</mat-checkbox>
              <mat-icon matSuffix matTooltip="legend: Toggles the Legend on/off">help_outline</mat-icon>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-radio-group formControlName="legendPosition" aria-label="Select an option">
                <mat-radio-button value="right">Right</mat-radio-button>
                <mat-radio-button value="below">Below</mat-radio-button>
              </mat-radio-group>
              <mat-icon matSuffix matTooltip="legendPosition: The position of the Legend in relation to the chart">help_outline</mat-icon>
            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group">
          <h4>UI Customization</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex>
                <mat-select disableOptionCentering placeholder="Color Scheme" formControlName="colorScheme">
                  <mat-option *ngFor="let scheme of ColorSets" [value]="scheme.name">{{ scheme.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex>
                <mat-select disableOptionCentering placeholder="Scheme Type" formControlName="schemeType">
                  <mat-option value="ordinal">Ordinal</mat-option>
                  <mat-option value="linear">Linear</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="animations">Animations</mat-checkbox>
              <mat-icon matSuffix matTooltip="animations: Toggles chart animations on/off">help_outline</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="gradient">Use Gradients</mat-checkbox>
              <mat-icon matSuffix matTooltip="gradient: Toggles chart gradients on/off">help_outline</mat-icon>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="showGridLines">Show Grid Lines</mat-checkbox>
              <mat-icon matSuffix matTooltip="showGridLines: Toggles the chart grid lines on/off">help_outline</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="roundDomains">Round Domains</mat-checkbox>
              <mat-icon matSuffix matTooltip="roundDomains: Toggles min/max chart values on/off">help_outline</mat-icon>
            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group" *ngIf="CurrentChart.type === ChartNavType.LINE_AREA">
          <h4>Line Options</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex>
                <mat-select disableOptionCentering placeholder="Line Interpolation" formControlName="curve">
                  <mat-option *ngFor="let curve of CurveTypes" [value]="Curves[curve]">{{ curve }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="timeline">Timeline</mat-checkbox>
              <mat-icon matSuffix matTooltip="timeline: Toggles chart timeline on/off">help_outline</mat-icon>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="tooltipDisabled">Disable Tooltip</mat-checkbox>
              <mat-icon matSuffix matTooltip="tooltipDisabled: Toggles the tooptip on/off">help_outline</mat-icon>
            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group" *ngIf="CurrentChart.type === ChartNavType.BAR">
          <h4>Bar Options</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="barPadding" matInput placeholder="Bar Padding">
                <mat-icon matSuffix matTooltip="barPadding: The number of pixels between each bar on the chart">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="groupPadding" matInput placeholder="Group Padding">
                <mat-icon matSuffix matTooltip="groupPadding: The number of pixels between each group of bars on the chart">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="noBarWhenZero">Hide when value is 0</mat-checkbox>
              <mat-icon matSuffix matTooltip="noBarWhenZero: Toggles whether to hide a bar if the value is zero">help_outline</mat-icon>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="roundEdges">Round Edges</mat-checkbox>
              <mat-icon matSuffix matTooltip="roundEdges: Toggles whether the bar has round edges or square edges">help_outline</mat-icon>
            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group" *ngIf="CurrentChart.type === ChartNavType.PIE">
          <h4>Pie Options</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="arcWidth" matInput placeholder="Arc Width">
                <mat-icon matSuffix matTooltip="arcWidth: The width of the arc expressed as a fraction of outer radius">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="doughnut">Doughnut</mat-checkbox>
              <mat-icon matSuffix matTooltip="doughnut: Toggles whether to hide a bar if the value is zero">help_outline</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="explodeSlices">Explode Slices</mat-checkbox>
              <mat-icon matSuffix matTooltip="explodeSlices: Toggles whether to hide a bar if the value is zero">help_outline</mat-icon>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="showLabels">Show Labels</mat-checkbox>
              <mat-icon matSuffix matTooltip="showLabels: Toggles whether the bar has round edges or square edges">help_outline</mat-icon>
            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group" *ngIf="CurrentChart.type === ChartNavType.BUBBLE">
          <h4>Bubble Options</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="maxRadius" matInput placeholder="Max Radius">
                <mat-icon matSuffix matTooltip="maxRadius: The maximum radius of a bubble in pixels">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="minRadius" matInput placeholder="Min Radius">
                <mat-icon matSuffix matTooltip="minRadius: The minumum radius of a bubble in pixels">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="form-column-group" *ngIf="CurrentChart.type === ChartNavType.GAUGE">
          <h4>Gauge Options</h4>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="gaugeStartAngle" matInput placeholder="Gauge Start Angle">
                <mat-icon matSuffix matTooltip="startAngle: The angle that the chart is rotated by. Use negative half of the spanning angle to centralize">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="gaugeAngleSpan" matInput placeholder="Gauge Angle Span">
                <mat-icon matSuffix matTooltip="angleSpan: The degrees of the angle that the chart spans">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="gaugeMin" matInput placeholder="Min Value">
                <mat-icon matSuffix matTooltip="min: The starting point of the scale">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="gaugeMax" matInput placeholder="Max Value">
                <mat-icon matSuffix matTooltip="max: The ending point of the scale">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="gaugeSmallSegments" matInput placeholder="Small Segments">
                <mat-icon matSuffix matTooltip="smallSegments: The number of small segments between the large segments">help_outline</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field fxFlex class="form-field-small">
                <input type="number" formControlName="gaugeLargeSegments" matInput placeholder="Large Segments">
                <mat-icon matSuffix matTooltip="bigSegments: The number of the big segments on the chart">help_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxFlexAlign="stretch" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="gaugeShowAxis">Show Axis</mat-checkbox>
              <mat-icon matSuffix matTooltip="showAxis: Toggles the gauge axis on/off">help_outline</mat-icon>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox formControlName="showText">Show Label</mat-checkbox>
              <mat-icon matSuffix matTooltip="showText: Toggles the inner label on/off">help_outline</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
