@import "../../../node_modules/@lcu/common/assets/styles/fathym-global.styles";
@import "../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding";
@import "../../../node_modules/@lcu/common/assets/theming/fathym_themes";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import "./app/app.component.scss";

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity); /* For IE8 and earlier */
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.app-background {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  min-width: 300px;
  max-height: -webkit-fill-available;
}

@mixin theme-setup($theme) {
  @include angular-material-theme($theme);
  @include theme-extras($theme);
  @include component-themes($theme);
}

@mixin component-themes($theme) {
  @include lcu-charts-component-theme($theme);

  .mat-tooltip,
  .mat-snack-bar-container {
    background: rgba($color: mat-color(map-get($theme, primary), 500), $alpha: 0.8);
    color: rgba($color: mat-color(map-get($theme, primary), default-contrast), $alpha: 1);
  }

  .mat-chip.mat-standard-chip {
    background-color: mat-color(map-get($theme, primary), 500);
    font-size: 0.8em;
    min-height: 24px;
    padding: 3px 8px;

    .mat-icon {
      line-height: 18px !important;
    }
  }
}

@mixin primary-logo($logo, $theme, $opacity) {
  .primary-logo {
    background-image: fathym-logo(
      $logo,
      mat-color(map-get($theme, primary)),
      $opacity
    );
    height: 40px;
    width: 150px;
  }
}

.fathym-arctic-theme {
  $theme: fathym-arctic-theme(true);
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);
}

.fathym-contrast-theme {
  $theme: fathym-contrast-theme(true);
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);

  /** TODO: The accent color in 'fathym-contrast-theme' is a shade of black, making checkboxes
   ** and other controls that use accent colors very hard to see, specifically when using dark theme.
   ** The color palette will need to be modified to use a lighter color to fix this. */
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: mat-color(map-get($theme, primary), 500);
  }

  .mat-radio-button.mat-accent.mat-radio-checked {

    .mat-radio-outer-circle {
      border-color: mat-color(map-get($theme, primary), 500) !important;
    }
    .mat-radio-inner-circle {
      background-color: mat-color(map-get($theme, primary), 500) !important;
    }
  }
}

.fathym-cool-candy-theme {
  $theme: fathym-cool-candy-theme(true);
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);
}

.fathym-flipper-theme {
  $theme: fathym-flipper-theme(true);
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);
}

.fathym-ice-theme {
  $theme: fathym-ice-theme();
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);
}

.fathym-sea-green-theme {
  $theme: fathym-sea-green-theme(true);
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);
}

.fathym-white-mint-theme {
  $theme: fathym-white-mint-theme();
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);
}

.fathym-ivy-theme {
  $theme: fathym-ivy-theme();
  @include theme-setup($theme);
  @include primary-logo(thinky-full-logo, $theme, 1);
}
