<lcu-charts-area-chart-simple
  class="chart-container"
  [animations]="animations"
  [autoScale]="autoScale"
  [curve]="curve"
  [gradient]="gradient"
  [legendPosition]="legendPosition"
  [legendTitle]="legendTitle"
  [legend]="showLegend"
  [maxXAxisTickLength]="maxXAxisTickLength"
  [maxYAxisTickLength]="maxYAxisTickLength"
  [results]="weatherData"
  [rotateXAxisTicks]="rotateXAxisTicks"
  [roundDomains]="roundDomains"
  [schemeType]="schemeType"
  [scheme]="colorScheme"
  [showGridLines]="showGridLines"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [timeline]="timeline"
  [tooltipDisabled]="tooltipDisabled"
  [trimXAxisTicks]="trimXAxisTicks"
  [trimYAxisTicks]="trimYAxisTicks"
  [view]="view"
  [xAxisLabel]="xAxisLabel"
  [xAxis]="showXAxis"
  [xScaleMax]="xScaleMax"
  [xScaleMin]="xScaleMin"
  [yAxisLabel]="yAxisLabel"
  [yAxis]="showYAxis"
  [yScaleMax]="yScaleMax"
  [yScaleMin]="yScaleMin"
  (activate)="activate($event)"
  (deactivate)="deactivate($event)"
  (legendLabelClick)="onLegendLabelClick($event)"
  (select)="select($event)">
</lcu-charts-area-chart-simple>
