@mixin lcu-charts-modify-form($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .sidenav-content-form-container {
    background-color: map-get($accent, 500);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .form-title-toggle {
      cursor: pointer;

      h3 {
        margin: 5px;
      }

      .generate-button {
        height: 30px;
        margin: 2px 10px;
        padding: 0 10px;
        line-height: 30px;
      }
    }

    .form-content {
      padding: 5px;

      form {
        font-size: 0.8em;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;

        .form-column-group {
          align-self: stretch;
          background-color: map-get($accent, 700);
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.12);
          padding: 5px;

          ~ .form-column-group {
            margin-left: 5px;
          }

          h4 {
            margin: 0 0 10px 0;
            text-transform: uppercase;
          }

          .form-field-small {
            width: 150px;
          }

          .mat-icon {
            color: rgba($color: mat-color($primary, default-contrast), $alpha: 0.5);
            cursor: pointer;
            font-size: 125%;
            line-height: 24px;
            width: auto;
          }

          .mat-radio-button ~ .mat-radio-button {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
