@import './common';

  $lcu-charts-header-height: 64px;
  $lcu-charts-footer-height: 50px;

  .lcu-charts-container {
    height: 100%;

    .lcu-charts-header {
      .mat-toolbar {
        height: $lcu-charts-header-height;
        justify-content: space-between;

        .toolbar-title {
          display: block;
          margin: 0;

          .title-menu {
            cursor: pointer;
            margin-right: 15px;

            .mat-icon {
              font-size: 32px;
              height: 32px;
              width: 32px;
            }
          }

          .title-text {
            color: white;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }

            small {
              font-size: 0.5em;
              line-height: 1.3em;

              &.subtitle {
                display: block;
              }
            }
          }
        }
      }
    }

    .lcu-charts-body {
      align-items: center;
      justify-content: center;
      height: calc(100% - #{$lcu-charts-header-height} - #{$lcu-charts-footer-height});

      .body-sidenav-container {
        background-color: transparent;
        height: 100%;
        width: 100%;

        .mat-sidenav {
          background-color: map-get($accent, 500);

          .mat-list-item {
            font-size: 13px;

            .mat-icon {
              margin: 0 10px;
            }
          }
        }
      }

      .body-sidenav-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;

        lcu-home {
          height: 100%;
        }

        .lcu-chart-container {
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 5%;
          bottom: 1%;
          left: 1%;
          right: 1%;
        }

        .home-container {
          height: 100%;
          margin: 5%;

          .home-row {
            margin-bottom: 15px;
          }

          .code-name {
            background-color: map-get($accent, 500);
            border-radius: 5px;
            border: 1px solid #2f3646;
            color: map-get($primary, 500);
            font-size: 0.8em;
            margin: 0 3px;
            padding: 2px;
          }

          .cli-code {
            background-color: map-get($accent, 500);
            border-radius: 5px;
            border: 1px solid #2f3646;
            font-weight: bold;
            margin-left: 10px;
            padding: 10px;
          }

          a {
            color: map-get($primary, 500);

            &:hover {
              color: map-get($accent, 200);
            }
          }

          pre {
            background-color: map-get($accent, 500);
            border-radius: 5px;
            border: 1px solid #2f3646;
            border-left: 3px solid map-get($primary, 500);
            page-break-inside: avoid;
            line-height: 1.6;
            max-width: 100%;
            overflow: auto;
            display: block;
            word-wrap: break-word;
          }
        }
      }
    }

    .lcu-charts-footer {
      .mat-toolbar {
        border-top: 1px solid rgba(255, 255, 255, 0.12);
        height: $lcu-charts-footer-height;
        justify-content: space-between;

        small {
          font-size: 0.5em;
          line-height: 1.3em;
        }
      }
    }
  }

  .color-swatch-arctic {
    color: mat-color($fathym-arctic-primary, 500) !important;
  }

  .color-swatch-contrast {
    color: mat-color($fathym-contrast-primary, 500) !important;
  }

  .color-swatch-cool-candy {
    color: mat-color($fathym-cool-candy-primary, 500) !important;
  }

  .color-swatch-flipper {
    color: mat-color($fathym-flipper-primary, 500) !important;
  }

  .color-swatch-ice {
    color: mat-color($fathym-ice-primary, 500) !important;
  }

  .color-swatch-sea-green {
    color: mat-color($fathym-sea-green-primary, 500) !important;
  }

  .color-swatch-white-mint {
    color: mat-color($fathym-white-mint-primary, 500) !important;
  }

  .color-swatch-ivy {
    color: mat-color($fathym-primary, 500) !important;
  }

  .dark {
    /**
       * Backgrounds
       */
    $color-bg-darkest: #13141b;
    $color-bg-darker: #1b1e27;
    $color-bg-dark: #232837;
    $color-bg-med: #2f3646;
    $color-bg-light: #455066;
    $color-bg-lighter: #5b6882;

    /**
       * Text
       */
    $color-text-dark: #72809b;
    $color-text-med-dark: #919db5;
    $color-text-med: #a0aabe;
    $color-text-med-light: #d9dce1;
    $color-text-light: #f0f1f6;
    $color-text-lighter: #fff;

    background: $color-bg-darker;

    .lcu-charts {
      text {
        fill: $color-text-med;
      }

      .tooltip-anchor {
        fill: rgb(255, 255, 255);
      }

      .gridline-path {
        stroke: $color-bg-med;
      }

      .refline-path {
        stroke: $color-bg-light;
      }

      .reference-area {
        fill: #fff;
      }

      .grid-panel {
        &.odd {
          rect {
            fill: rgba(255, 255, 255, 0.05);
          }
        }
      }

      .number-card {
        p {
          color: $color-text-light;
        }
      }

      .gauge {
        .background-arc {
          path {
            fill: $color-bg-med;
          }
        }

        .gauge-tick {
          path {
            stroke: $color-text-med;
          }
          text {
            fill: $color-text-med;
          }
        }
      }

      .linear-gauge {
        .background-bar {
          path {
            fill: $color-bg-med;
          }
        }

        .units {
          fill: $color-text-dark;
        }
      }

      .timeline {
        .brush-background {
          fill: rgba(255, 255, 255, 0.05);
        }

        .brush {
          .selection {
            fill: rgba(255, 255, 255, 0.1);
            stroke: #aaa;
          }
        }
      }

      .polar-chart .polar-chart-background {
        fill: rgb(30, 34, 46);
      }
    }

    .chart-legend {
      .legend-labels {
        background: rgba(255, 255, 255, 0.05) !important;
      }

      .legend-item {
        &:hover {
          color: #fff;
        }
      }

      .legend-label {
        &:hover {
          color: #fff !important;
        }

        .active {
          .legend-label-text {
            color: #fff !important;
          }
        }
      }

      .scale-legend-label {
        color: $color-text-med;
      }
    }

    .advanced-pie-legend {
      color: $color-text-med;

      .legend-item {
        &:hover {
          color: #fff !important;
        }
      }
    }

    .number-card .number-card-label {
      font-size: 0.8em;
      color: $color-text-med;
    }
  }

// }
