@mixin lcu-charts-documentation($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .documentation-container {
    a:not(.mat-button) {
      color: mat-color($primary) !important;
    }

    pre {
      background-color: #282d35;
      border-radius: 5px;
      border: 1px solid #2f3646;
      border-left: 3px solid mat-color($primary);
      page-break-inside: avoid;
      line-height: 1.6;
      max-width: 100%;
      overflow: auto;
      display: block;
      word-wrap: break-word;
    }

    code:not(.language-*) {
      background-color: #282d35;
      border-radius: 5px;
      border: 1px solid #2f3646;
      color: mat-color($primary);
      font-size: 0.8em;
      margin: 0 3px;
      padding: 2px;
    }
  }
}
