<lcu-charts-bar-vertical-grouped
  class="chart-container"
  [animations]="animations"
  [barPadding]="barPadding"
  [gradient]="gradient"
  [groupPadding]="groupPadding"
  [legendPosition]="legendPosition"
  [legendTitle]="legendTitle"
  [legend]="showLegend"
  [maxXAxisTickLength]="maxXAxisTickLength"
  [maxYAxisTickLength]="maxYAxisTickLength"
  [noBarWhenZero]="noBarWhenZero"
  [results]="multi"
  [rotateXAxisTicks]="rotateXAxisTicks"
  [roundDomains]="roundDomains"
  [roundEdges]="roundEdges"
  [schemeType]="schemeType"
  [scheme]="colorScheme"
  [showDataLabel]="showDataLabel"
  [showGridLines]="showGridLines"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [tooltipDisabled]="tooltipDisabled"
  [trimXAxisTicks]="trimXAxisTicks"
  [trimYAxisTicks]="trimYAxisTicks"
  [view]="view"
  [xAxisLabel]="xAxisLabel"
  [xAxis]="showXAxis"
  [yAxisLabel]="yAxisLabel"
  [yAxis]="showYAxis"
  [yScaleMax]="yScaleMax"
  (activate)="activate($event)"
  (deactivate)="deactivate($event)"
  (legendLabelClick)="onLegendLabelClick($event)"
  (select)="select($event)">
</lcu-charts-bar-vertical-grouped>
