<div fxLayout="column" class="real-time-wrapper">
  <div fxLayout="row" class="real-time-row">
    <div fxLayout="column" class="real-time-col">
      <lcu-charts-line-chart-simple
        class="chart-container"
        [animations]="animations"
        [autoScale]="autoScale"
        [curve]="curve"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [legend]="showLegend"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [rangeFillOpacity]="rangeFillOpacity"
        [results]="dateDataWithOrWithoutRange"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [roundDomains]="roundDomains"
        [schemeType]="schemeType"
        [scheme]="colorScheme"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [timeline]="timeline"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [view]="view"
        [xAxisLabel]="xAxisLabel"
        [xAxis]="showXAxis"
        [xScaleMax]="xScaleMax"
        [xScaleMin]="xScaleMin"
        [yAxisLabel]="yAxisLabel"
        [yAxis]="showYAxis"
        [yScaleMax]="yScaleMax"
        [yScaleMin]="yScaleMin"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)">
      </lcu-charts-line-chart-simple>
    </div>
    <div fxLayout="column" class="real-time-col">
      <lcu-charts-bar-horizontal-grouped
        class="chart-container"
        [animations]="animations"
        [barPadding]="barPadding"
        [gradient]="gradient"
        [groupPadding]="groupPadding"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [legend]="showLegend"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [noBarWhenZero]="noBarWhenZero"
        [results]="multi"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [schemeType]="schemeType"
        [scheme]="colorScheme"
        [showDataLabel]="showDataLabel"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [view]="view"
        [xAxisLabel]="xAxisLabel"
        [xAxis]="showXAxis"
        [xScaleMax]="xScaleMax"
        [yAxisLabel]="yAxisLabel"
        [yAxis]="showYAxis"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)">
      </lcu-charts-bar-horizontal-grouped>
    </div>
  </div>
  <div fxLayout="row" class="real-time-row">
    <div fxLayout="column" class="real-time-col">
      <lcu-charts-pie-chart-simple
        class="chart-container"
        [animations]="animations"
        [arcWidth]="arcWidth"
        [doughnut]="doughnut"
        [explodeSlices]="explodeSlices"
        [gradient]="gradient"
        [labels]="showLabels"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [legend]="showLegend"
        [results]="single"
        [scheme]="colorScheme"
        [tooltipDisabled]="tooltipDisabled"
        [tooltipText]="pieTooltipText"
        [view]="view"
        (activate)="activate($event)"
        (dblclick)="dblclick($event)"
        (deactivate)="deactivate($event)"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)">
      </lcu-charts-pie-chart-simple>
    </div>
    <div fxLayout="column" class="real-time-col">
      <lcu-charts-gauge-simple
        class="chart-container"
        [angleSpan]="gaugeAngleSpan"
        [animations]="animations"
        [bigSegments]="gaugeLargeSegments"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [legend]="showLegend"
        [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null"
        [max]="gaugeMax"
        [min]="gaugeMin"
        [results]="single"
        [scheme]="colorScheme"
        [showAxis]="gaugeShowAxis"
        [showText]="showText"
        [smallSegments]="gaugeSmallSegments"
        [startAngle]="gaugeStartAngle"
        [textValue]="gaugeTextValue"
        [tooltipDisabled]="tooltipDisabled"
        [units]="gaugeUnits"
        [view]="view"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)">
      </lcu-charts-gauge-simple>
    </div>
  </div>
</div>
