<lcu-modify-chart [options]="bubbleChartOptions"></lcu-modify-chart>

<div fxFlex fxLayout="column" class="lcu-chart-container">
  <lcu-charts-bubble-chart-simple
    class="chart-container"
    [animations]="animations"
    [autoScale]="autoScale"
    [legendPosition]="legendPosition"
    [legendTitle]="legendTitle"
    [legend]="showLegend"
    [maxRadius]="maxRadius"
    [maxXAxisTickLength]="maxXAxisTickLength"
    [maxYAxisTickLength]="maxYAxisTickLength"
    [minRadius]="minRadius"
    [results]="bubble"
    [rotateXAxisTicks]="rotateXAxisTicks"
    [roundDomains]="roundDomains"
    [schemeType]="schemeType"
    [scheme]="colorScheme"
    [showGridLines]="showGridLines"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [tooltipDisabled]="tooltipDisabled"
    [trimXAxisTicks]="trimXAxisTicks"
    [trimYAxisTicks]="trimYAxisTicks"
    [view]="view"
    [xAxisLabel]="xAxisLabel"
    [xAxis]="showXAxis"
    [xScaleMax]="xScaleMax"
    [xScaleMin]="xScaleMin"
    [yAxisLabel]="yAxisLabel"
    [yAxis]="showYAxis"
    [yScaleMax]="yScaleMax"
    [yScaleMin]="yScaleMin"
    (activate)="activate($event)"
    (deactivate)="deactivate($event)"
    (select)="select($event)">
  </lcu-charts-bubble-chart-simple>
</div>
