<lcu-modify-data [dataWrapper]="dataWrapper"></lcu-modify-data>

<lcu-data-wrapper [dataWrapper]="dataWrapper">
  <div fxLayout="column" class="data-wrapper adjust-centering">
    <div fxLayout="row" class="data-row">
      <div fxLayout="column" class="data-col">
        <lcu-charts-line-chart-simple
          class="chart-container"
          [animations]="animations"
          [autoScale]="autoScale"
          [curve]="curve"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          [rangeFillOpacity]="rangeFillOpacity"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [roundDomains]="roundDomains"
          [schemeType]="schemeType"
          [scheme]="colorScheme"
          [showGridLines]="showGridLines"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [timeline]="timeline"
          [tooltipDisabled]="tooltipDisabled"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [view]="view"
          [xAxisLabel]="lineXAxisLabel"
          [xAxis]="showXAxis"
          [xScaleMax]="xScaleMax"
          [xScaleMin]="xScaleMin"
          [yAxisLabel]="lineYAxisLabel"
          [yAxis]="showYAxis"
          [yScaleMax]="yScaleMax"
          [yScaleMin]="yScaleMin">
        </lcu-charts-line-chart-simple>
      </div>
      <div fxLayout="column" class="data-col">
        <lcu-charts-area-chart-simple
          class="chart-container"
          [animations]="animations"
          [autoScale]="autoScale"
          [curve]="curve"
          [gradient]="areaGradient"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [roundDomains]="roundDomains"
          [schemeType]="schemeType"
          [scheme]="colorScheme"
          [showGridLines]="showGridLines"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [timeline]="timeline"
          [tooltipDisabled]="tooltipDisabled"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [view]="view"
          [xAxisLabel]="lineXAxisLabel"
          [xAxis]="showXAxis"
          [xScaleMax]="xScaleMax"
          [xScaleMin]="xScaleMin"
          [yAxisLabel]="lineYAxisLabel"
          [yAxis]="showYAxis"
          [yScaleMax]="yScaleMax"
          [yScaleMin]="yScaleMin">
        </lcu-charts-area-chart-simple>
      </div>
    </div>
    <div fxLayout="row" class="data-row">
      <div fxLayout="column" class="data-col">
        <lcu-charts-pie-chart-simple
          class="chart-container"
          [animations]="animations"
          [arcWidth]="arcWidth"
          [doughnut]="doughnut"
          [explodeSlices]="explodeSlices"
          [gradient]="gradient"
          [labels]="showLabels"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [scheme]="colorScheme"
          [tooltipDisabled]="tooltipDisabled"
          [tooltipText]="pieTooltipText"
          [view]="view">
        </lcu-charts-pie-chart-simple>
      </div>
      <div fxLayout="column" class="data-col">
        <lcu-charts-pie-chart-advanced
          class="chart-container"
          [animations]="animations"
          [arcWidth]="arcWidth"
          [doughnut]="!doughnut"
          [gradient]="gradient"
          [scheme]="colorScheme"
          [tooltipDisabled]="tooltipDisabled"
          [tooltipText]="pieTooltipText"
          [view]="view">
        </lcu-charts-pie-chart-advanced>
      </div>
    </div>

    <div fxLayout="row" class="data-row">
      <div fxLayout="column" class="data-col">
        <lcu-charts-bar-vertical-grouped
          class="chart-container"
          [animations]="animations"
          [barPadding]="barPadding"
          [gradient]="gradient"
          [groupPadding]="groupPadding"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          [noBarWhenZero]="noBarWhenZero"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [roundDomains]="roundDomains"
          [roundEdges]="roundEdges"
          [schemeType]="schemeType"
          [scheme]="colorScheme"
          [showDataLabel]="showDataLabel"
          [showGridLines]="showGridLines"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [tooltipDisabled]="tooltipDisabled"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [view]="view"
          [xAxis]="showXAxis"
          [yAxisLabel]="barXAxisLabel"
          [yAxis]="showYAxis"
          [yScaleMax]="yScaleMax">
        </lcu-charts-bar-vertical-grouped>
      </div>
      <div fxLayout="column" class="data-col">
        <lcu-charts-bar-horizontal-simple
          class="chart-container"
          [animations]="animations"
          [barPadding]="barPadding"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          [noBarWhenZero]="noBarWhenZero"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [roundDomains]="roundDomains"
          [roundEdges]="roundEdges"
          [schemeType]="schemeType"
          [scheme]="colorScheme"
          [showDataLabel]="showDataLabel"
          [showGridLines]="showGridLines"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [tooltipDisabled]="tooltipDisabled"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [view]="view"
          [xAxisLabel]="barXAxisLabel"
          [xAxis]="showXAxis"
          [yAxisLabel]="barYAxisLabel"
          [yAxis]="showYAxis">
        </lcu-charts-bar-horizontal-simple>
      </div>
    </div>

    <div fxLayout="row" class="data-row">
      <div fxLayout="column" class="data-col">
        <lcu-charts-gauge-simple
          class="chart-container"
          [angleSpan]="gaugeAngleSpan"
          [animations]="animations"
          [bigSegments]="gaugeLargeSegments"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null"
          [max]="gaugeMax"
          [min]="gaugeMin"
          [scheme]="colorScheme"
          [showAxis]="gaugeShowAxis"
          [showText]="showText"
          [smallSegments]="gaugeSmallSegments"
          [startAngle]="gaugeStartAngle"
          [textValue]="gaugeTextValue"
          [tooltipDisabled]="tooltipDisabled"
          [units]="gaugeUnits"
          [view]="view">
        </lcu-charts-gauge-simple>
      </div>
      <div fxLayout="column" class="data-col">
        <lcu-charts-bubble-chart-simple
          class="chart-container"
          [animations]="animations"
          [autoScale]="autoScale"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [maxRadius]="maxRadius"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          [minRadius]="minRadius"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [roundDomains]="roundDomains"
          [schemeType]="schemeType"
          [scheme]="colorScheme"
          [showGridLines]="showGridLines"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [tooltipDisabled]="tooltipDisabled"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [view]="view"
          [xAxisLabel]="bubbleXAxisLabel"
          [xAxis]="showXAxis"
          [xScaleMax]="xScaleMax"
          [xScaleMin]="xScaleMin"
          [yAxisLabel]="bubbleYAxisLabel"
          [yAxis]="showYAxis">
        </lcu-charts-bubble-chart-simple>
      </div>
    </div>

    <div fxLayout="row" class="data-row">
      <div fxLayout="column" class="data-col">
        <lcu-charts-line-chart-simple
          class="chart-container"
          [animations]="animations"
          [autoScale]="autoScale"
          [curve]="curve"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          [rangeFillOpacity]="rangeFillOpacity"
          [results]="multi"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [roundDomains]="roundDomains"
          [schemeType]="schemeType"
          [scheme]="colorScheme"
          [showGridLines]="showGridLines"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [timeline]="timeline"
          [tooltipDisabled]="tooltipDisabled"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [view]="view"
          [xAxisLabel]="countryXAxisLabel"
          [xAxis]="showXAxis"
          [xScaleMax]="xScaleMax"
          [xScaleMin]="xScaleMin"
          [yAxisLabel]="countryYAxisLabel"
          [yAxis]="showYAxis"
          [yScaleMax]="yScaleMax"
          [yScaleMin]="yScaleMin">
        </lcu-charts-line-chart-simple>
      </div>
      <div fxLayout="column" class="data-col">
        <lcu-charts-pie-chart-simple
          class="chart-container"
          [animations]="animations"
          [arcWidth]="arcWidth"
          [doughnut]="doughnut"
          [explodeSlices]="explodeSlices"
          [gradient]="gradient"
          [labels]="showLabels"
          [legendPosition]="legendPosition"
          [legendTitle]="legendTitle"
          [legend]="showLegend"
          [results]="single"
          [scheme]="colorScheme"
          [tooltipDisabled]="tooltipDisabled"
          [tooltipText]="pieTooltipText"
          [view]="view">
        </lcu-charts-pie-chart-simple>
      </div>
    </div>
  </div>
</lcu-data-wrapper>
